openapi: 3.2.0
info:
  title: Secureframe Framework API
  description: '## Introduction


    Secureframe exposes a REST API for use by customers, partners, and community developers.'
  version: '2023-10-18'
  x-logo:
    url: https://media.secureframe.com/logo-dark.svg
servers:
- url: https://api.secureframe.com
- url: https://api-uk.secureframe.com
tags:
- name: Framework
  description: This document describes the API for reading Frameworks.
paths:
  /frameworks:
    get:
      tags:
      - Framework
      operationId: companyFrameworksIndex
      parameters:
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the Framework data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      - name: sort
        description: 'Comma delimited string of fields to sort the results by, applied in the order given. Prefix a field with `-` to sort it in descending order, for example `?sort=-created_at,id`. Sortable fields: `created_at`, `id`, `title`, `updated_at`.'
        required: false
        in: query
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: List of resources matching the query
                    items:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          $ref: '#/components/schemas/Framework'
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                  meta:
                    type: object
                    description: Metadata about the list response
                    properties:
                      total:
                        type: integer
                        description: Total number of records matching the query across all pages, independent of page and per_page
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: 'Returns a list of Frameworks.

        ### Search parameters


        - `created_at` — The date when this Framework was created

        - `id` — The ID of the Framework

        - `title` — The title of the Framework

        - `updated_at` — The date the Framework was last updated'
      summary: List Frameworks
      security:
      - header_authorization: []
      x-controller: api/company_frameworks
      x-action: index
  /frameworks/{id}:
    get:
      tags:
      - Framework
      operationId: companyFrameworksShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        $ref: '#/components/schemas/Framework'
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a Framework by ID
      summary: Get a Framework
      security:
      - header_authorization: []
      x-controller: api/company_frameworks
      x-action: show
components:
  schemas:
    Framework:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The identifier for this Framework.
        applicable_controls_count:
          type: integer
          description: The number of applicable controls for this Framework.
        applicable_framework_requirements_count:
          type: integer
          description: The number of applicable framework requirements for this Framework.
        at_risk_test_count:
          type: integer
          description: The number of at risk tests for this Framework.
        created_at:
          type: string
          format: date-time
          description: The date this Framework was created.
        description:
          type: string
          description: The description of the Framework.
        discarded_at:
          type: string
          format: date-time
          description: The date this Framework was discarded.
        disabled_test_count:
          type: integer
          description: The number of non-applicable tests for this Framework.
        failing_test_count:
          type: integer
          description: The number of failing tests for this Framework.
        key:
          type: string
          description: The key of the Framework.
        title:
          type: string
          description: The title of the Framework.
        passing_test_count:
          type: integer
          description: The number of passing tests for this Framework.
        updated_at:
          type: string
          format: date-time
          description: The date this CompanyVendorConnection was updated.
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
x-tagGroups:
- name: Endpoints
  tags:
  - Cloud Resource
  - Cloud Resource Framework Asset Scope
  - Comment
  - Control
  - Custom Integration
  - Device
  - Device Framework Asset Scope
  - Evidence
  - File Upload
  - Framework
  - Framework Requirement
  - Integration Connection
  - Knowledge Base Answer
  - Knowledge Base Question
  - POA&M Item
  - Policy
  - Repository
  - Repository Framework Asset Scope
  - Risk
  - SSP Duty
  - SSP Duty Role
  - SSP Policy
  - SSP Report
  - SSP Report Assessment Objective
  - SSP Report Section
  - SSP Report Section Block
  - SSP Role
  - SSP Vendor
  - Security Questionnaire
  - Task
  - Test
  - Test Evidence
  - Test Export
  - Test Export Reading
  - Third Party Risk Management Vendor
  - Trust Center Request
  - User
  - User Account
  - User Evidence
  - User Security Settings
  - Vendor
