openapi: 3.2.0
info:
  title: Secureframe SSP Duty Role API
  description: '## Introduction


    Secureframe exposes a REST API for use by customers, partners, and community developers.'
  version: '2023-10-18'
  x-logo:
    url: https://media.secureframe.com/logo-dark.svg
servers:
- url: https://api.secureframe.com
- url: https://api-uk.secureframe.com
tags:
- name: SSP Duty Role
  description: This document describes the API for reading, creating, and deleting SSP Duty Roles.
paths:
  /ssp_duty_roles:
    get:
      tags:
      - SSP Duty Role
      operationId: companySspDutyAssignmentMatrixAssignmentsIndex
      parameters:
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the SSP Duty Role data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      - name: sort
        description: 'Field to sort the results by. Prefix it with `-` to sort in descending order, for example `?sort=-created_at`. This endpoint sorts on one field only — supplying more than one comma delimited field returns a 400. Sortable fields: `created_at`, `id`, `ssp_duty_id`, `ssp_report_id`, `ssp_role_id`, `updated_at`.'
        required: false
        in: query
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: List of resources matching the query
                    items:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          $ref: '#/components/schemas/SspDutyRole'
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                  meta:
                    type: object
                    description: Metadata about the list response
                    properties:
                      total:
                        type: integer
                        description: Total number of records matching the query across all pages, independent of page and per_page
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: 'Returns a list of SSP Duty Roles

        ### Search parameters


        - `created_at` — The date the assignment was created

        - `id` — The ID of the assignment

        - `ssp_duty_id` — The ID of the duty

        - `ssp_report_id` — The ID of the associated SSP report

        - `ssp_role_id` — The ID of the role

        - `updated_at` — The date the assignment was last updated'
      summary: List SSP Duty Roles
      security:
      - header_authorization: []
      x-controller: api/company_ssp_duty_assignment_matrix_assignments
      x-action: index
    post:
      tags:
      - SSP Duty Role
      operationId: companySspDutyAssignmentMatrixAssignmentsCreate
      parameters:
      - name: ssp_duty_id
        description: The ID of the duty.
        required: true
        in: query
        schema:
          type: string
          format: uuid
      - name: ssp_report_id
        description: The ID of the SSP report.
        required: true
        in: query
        schema:
          type: string
          format: uuid
      - name: ssp_role_id
        description: The ID of the role.
        required: true
        in: query
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        $ref: '#/components/schemas/SspDutyRole'
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Create a new SSP Duty Role
      summary: Create an SSP Duty Role
      security:
      - header_authorization: []
      x-controller: api/company_ssp_duty_assignment_matrix_assignments
      x-action: create
  /ssp_duty_roles/{id}:
    get:
      tags:
      - SSP Duty Role
      operationId: companySspDutyAssignmentMatrixAssignmentsShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        $ref: '#/components/schemas/SspDutyRole'
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns a single SSP Duty Role by ID
      summary: Get an SSP Duty Role
      security:
      - header_authorization: []
      x-controller: api/company_ssp_duty_assignment_matrix_assignments
      x-action: show
    delete:
      tags:
      - SSP Duty Role
      operationId: companySspDutyAssignmentMatrixAssignmentsDestroy
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Delete an SSP Duty Role by ID
      summary: Delete an SSP Duty Role
      security:
      - header_authorization: []
      x-controller: api/company_ssp_duty_assignment_matrix_assignments
      x-action: destroy
components:
  schemas:
    SspDutyRole:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The identifier for this assignment.
        created_at:
          type: string
          format: date-time
          description: The date this assignment was created.
        ssp_duty_id:
          type: string
          format: uuid
          description: The identifier for the associated SSP duty.
        ssp_report_id:
          type: string
          format: uuid
          description: The identifier for the associated SSP report.
        ssp_role_id:
          type: string
          format: uuid
          description: The identifier for the associated SSP role.
        updated_at:
          type: string
          format: date-time
          description: The date this assignment was last updated.
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
x-tagGroups:
- name: Endpoints
  tags:
  - Cloud Resource
  - Cloud Resource Framework Asset Scope
  - Comment
  - Control
  - Custom Integration
  - Device
  - Device Framework Asset Scope
  - Evidence
  - File Upload
  - Framework
  - Framework Requirement
  - Integration Connection
  - Knowledge Base Answer
  - Knowledge Base Question
  - POA&M Item
  - Policy
  - Repository
  - Repository Framework Asset Scope
  - Risk
  - SSP Duty
  - SSP Duty Role
  - SSP Policy
  - SSP Report
  - SSP Report Assessment Objective
  - SSP Report Section
  - SSP Report Section Block
  - SSP Role
  - SSP Vendor
  - Security Questionnaire
  - Task
  - Test
  - Test Evidence
  - Test Export
  - Test Export Reading
  - Third Party Risk Management Vendor
  - Trust Center Request
  - User
  - User Account
  - User Evidence
  - User Security Settings
  - Vendor
