openapi: 3.2.0
info:
  title: Secureframe SSP Report Section API
  description: '## Introduction


    Secureframe exposes a REST API for use by customers, partners, and community developers.'
  version: '2023-10-18'
  x-logo:
    url: https://media.secureframe.com/logo-dark.svg
servers:
- url: https://api.secureframe.com
- url: https://api-uk.secureframe.com
tags:
- name: SSP Report Section
  description: This document describes the API for reading and updating SSP Report Sections.
paths:
  /ssp_report_sections:
    get:
      tags:
      - SSP Report Section
      operationId: companySspReportSectionsIndex
      parameters:
      - name: page
        description: 'Used for pagination of response data (default: page 1). Specifies the offset of the next block of data to receive.'
        required: false
        in: query
        schema:
          type: integer
      - name: per_page
        description: 'Used for pagination of response data (default: 100 items per response). Specifies the number of results for a given page.'
        required: false
        in: query
        schema:
          type: integer
      - name: q
        description: Search and filter the SSP Report Section data using Lucene syntax.
        required: false
        in: query
        schema:
          type: string
      - name: sort
        description: 'Field to sort the results by. Prefix it with `-` to sort in descending order, for example `?sort=-created_at`. This endpoint sorts on one field only — supplying more than one comma delimited field returns a 400. Sortable fields: `created_at`, `description`, `id`, `position`, `ssp_report_id`, `section_key`, `status`, `title`, `updated_at`.'
        required: false
        in: query
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: List of resources matching the query
                    items:
                      type: object
                      description: Data envelope for the response
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
                        type:
                          type: string
                          description: The type of resource this object is
                        attributes:
                          $ref: '#/components/schemas/SspReportSection'
                        relationships:
                          type: object
                          description: Nested objects related to the top level object
                        links:
                          type: object
                          description: Links to related API resources
                  meta:
                    type: object
                    description: Metadata about the list response
                    properties:
                      total:
                        type: integer
                        description: Total number of records matching the query across all pages, independent of page and per_page
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: 'Returns a list of SSP Report Sections.

        ### Search parameters


        - `created_at` — The date when this SSP Report Section was created

        - `description` — The description of the SSP Report Section

        - `id` — The ID of the SSP Report Section

        - `position` — The position of the SSP Report Section

        - `ssp_report_id` — The ID of the associated SSP report

        - `section_key` — The section key of the SSP Report Section

        - `status` — The status of the SSP Report Section

        - Valid values: `not_started`, `in_progress`, `completed`

        - `title` — The title of the SSP Report Section

        - `updated_at` — The date when this SSP Report Section was last updated'
      summary: List SSP Report Sections
      security:
      - header_authorization: []
      x-controller: api/company_ssp_report_sections
      x-action: index
  /ssp_report_sections/{id}:
    get:
      tags:
      - SSP Report Section
      operationId: companySspReportSectionsShow
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        $ref: '#/components/schemas/SspReportSection'
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Returns an SSP Report Section by ID
      summary: Get an SSP Report Section
      security:
      - header_authorization: []
      x-controller: api/company_ssp_report_sections
      x-action: show
    put:
      tags:
      - SSP Report Section
      operationId: companySspReportSectionsUpdate
      parameters:
      - name: id
        description: Scope response to id
        required: true
        in: path
        schema:
          type: string
      - name: position
        description: The position of the SSP Report Section.
        required: false
        in: query
        schema:
          type: integer
      - name: status
        description: The status of the SSP Report Section (not_started, in_progress, completed).
        required: false
        in: query
        schema:
          type: string
          enum:
          - not_started
          - in_progress
          - completed
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Data envelope for the response
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The identifier for this resource
                      type:
                        type: string
                        description: The type of resource this object is
                      attributes:
                        $ref: '#/components/schemas/SspReportSection'
                      relationships:
                        type: object
                        description: Nested objects related to the top level object
                      links:
                        type: object
                        description: Links to related API resources
                  included:
                    type: array
                    items:
                      type: object
                      description: Various objects that have been included via the `include` param
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: The identifier for this resource
        '404':
          description: Resource not found
        '403':
          description: Forbidden
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
      description: Update an SSP Report Section by ID
      summary: Update an SSP Report Section
      security:
      - header_authorization: []
      x-controller: api/company_ssp_report_sections
      x-action: update
components:
  schemas:
    SspReportSection:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The identifier for this SSP Report Section.
        created_at:
          type: string
          format: date-time
          description: The date when this SSP Report Section was created.
        description:
          type: string
          description: The description of the SSP Report Section.
        position:
          type: integer
          description: The position of the SSP Report Section.
        section_key:
          type: string
          description: The section key of the SSP Report Section.
        ssp_report_id:
          type: string
          format: uuid
          description: The identifier for the associated SSP report.
        status:
          type: string
          enum:
          - not_started
          - in_progress
          - completed
          description: The status of the SSP Report Section.
        title:
          type: string
          description: The title of the SSP Report Section.
        updated_at:
          type: string
          format: date-time
          description: The date when this SSP Report Section was last updated.
  securitySchemes:
    header_authorization:
      type: apiKey
      name: Authorization
      in: header
x-tagGroups:
- name: Endpoints
  tags:
  - Cloud Resource
  - Cloud Resource Framework Asset Scope
  - Comment
  - Control
  - Custom Integration
  - Device
  - Device Framework Asset Scope
  - Evidence
  - File Upload
  - Framework
  - Framework Requirement
  - Integration Connection
  - Knowledge Base Answer
  - Knowledge Base Question
  - POA&M Item
  - Policy
  - Repository
  - Repository Framework Asset Scope
  - Risk
  - SSP Duty
  - SSP Duty Role
  - SSP Policy
  - SSP Report
  - SSP Report Assessment Objective
  - SSP Report Section
  - SSP Report Section Block
  - SSP Role
  - SSP Vendor
  - Security Questionnaire
  - Task
  - Test
  - Test Evidence
  - Test Export
  - Test Export Reading
  - Third Party Risk Management Vendor
  - Trust Center Request
  - User
  - User Account
  - User Evidence
  - User Security Settings
  - Vendor
